body{
    background-image: url("./../ex01/cabecalhos_back.png");
    background-repeat: repeat-y;   
    background-color: #fff6d8;
    margin-left: 180px;            
}
h1{
    font-family: Arial, Helvetica, sans-serif;    
    font-size: 60px;
    font-weight: bolder;
    color: #906718;
    margin: 20px 20px 20px 0px;
}

p{
    text-indent: 30px;
}

.linha{
    border-bottom: 3px dashed orange;
    padding-bottom: 20px;
}